Instructor Notes: Materials from Data Carpentry [Python Ecology](https://github.com/datacarpentry/python-ecology-lesson), where I am a maintainer. Issues raised in this lesson informed discussion on [pull request](https://github.com/datacarpentry/python-ecology-lesson/pull/309).

# August 23

Today, we'll be continuing our initial explorations of data with python. The main topic that we'll be dealing with is how to subset data. For many of us, our datasets are large enough that viewing it all at once will be hard, or annoying. We will focus our energy today on how we can break down datasets to be more usefully small.

An empty cell is below. With a partner, load the pandas library as pd, and read in the data to a variable called `surveys_df`.

# Selecting Data Using Headers

Square brackets can be used to select columns by the header name. How can we view what columns we have? Let's take a look at the `species_id` column.

In [ ]:
surveys_df['species_id']

In [ ]:
surveys_df.species_id

Are these two outputs equivalent? How could we check? I've left a blank cell below - try coming up with a way to check for equivalence between these outputs.

We can also select multiple columns from one dataframe. Look at the below code - why do we have two brackets? I try to point out little details like this - things I figured out by doing, but can make a difference to your _understanding_.

In [ ]:
# Select the species and plot columns from the DataFrame
surveys_df[['species_id', 'plot_id']]

In [ ]:
# What happens when you flip the order?
surveys_df[['plot_id', 'species_id']]

Let's try to grab that species column again.

In [ ]:
# What happens if you ask for a column that doesn't exist?
surveys_df['speciess']

Uh-oh - what happened? Look closely at the error message.

# How to Google An Error Message, part 1

Googling for error messages, or help, is important, and it's something we don't often talk about how to do effectively. Let's take a moment and look at our error message. The first thing we're going to do is look at the anatomy of an error message. Then, we will separate it into a generalizeable error, and a specific error. 

![](img/traceback.png)

The above image is of the "traceback". This shows where in the pandas functions we came up with the problem. For large, complex libraries, this can be a huge amount of material. This is often for people who might be editing functions, not as much for the end user. The below shows us what our error was.

![](img/specific.png)

This tells us that we made a `KeyError: speciess`. What part of this error do you think is general, and what part is specific to us? 

Now, let's put this together into a googleable string. Where have we heard of keys before? If we google `KeyError`, we might get results for another language. So we should add python to our search string. Are we dealing directly with dictionaries? Not really, so let's add the library name:

`python pandas KeyError`

Google it with a classmate - This is a fairly intuitive error, so it should be easy to tell if the information you're getting is reliable.

# Selecting Rows Using Indexing

We often give our columns meaningful names - that's how we know what to enter where. We do not usually have meaningful row names. Rows can be indexed just like a list can. For a reminder, I've put cells below. In the comments, I denote what parts of the list I'd like you to grab. Give these a whirl.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Get the third element of the list

In [ ]:
# Get the last two elements of the list

In [ ]:
# Get elements 2, 3, 4 and 5

The exact same logic applies to indexing the rows of a dataframe. See what rows the following command gives you:

In [ ]:
surveys_df[0:3]

Next, try out this command:

In [ ]:
surveys_df[-1:]

# Choosing Subsets of Rows _and_ Columns

One common way to do this is with `iloc`. This is *I*nteger-based *loc*ation of values.

In [ ]:
surveys_df.iloc[0:3, 1:4]

Which set is rows? Which is columns?

Pandas also has a method called `loc`. Let's try a few examples to see how `loc` and `iloc` differ.

In [ ]:
# Select all columns for rows of index values 0 and 10
surveys_df.loc[[0, 10], :]

Can you produce the same subset with `iloc`?

In [ ]:
# What does this do?
surveys_df.loc[1, ['species_id', 'plot_id', 'weight']]

Can you produce the same subset with `.iloc`?

In [ ]:
surveys_df.loc[[0, 10, 35549], :]

Do we have row 35549 in the dataframe? What happens when we do this with `iloc`?

Based on our explorations, how will we describe the difference between `loc` and `iloc`?

# Subsetting Data Using Criteria

This is fine if we know _where_ in our file the data are. But we often have some _criteria_ upon which we'd like to filter the data. Let's try an example:

In [ ]:
surveys_df[surveys_df.year == 2002]

Try to explain in words to a partner what this has done. We can also do the inverse:

In [ ]:
surveys_df[surveys_df.year != 2002]

In [ ]:
# Or chain together filters!
surveys_df[(surveys_df.year >= 1980) & (surveys_df.year <= 1985)]

Let's try a couple exercises:
- Select a subset of rows in the surveys_df DataFrame that contain data from the year 1999 and that contain weight values less than or equal to 8. How many rows did you end up with?
- You can use the isin command in Python to query a DataFrame based upon a list of values as follows:
    `surveys_df[surveys_df['species_id'].isin([list of values])]`
    Try to query all the records for two species of your choice. 
- Experiment with other queries. Create a query that finds all rows with a weight value > or equal to 0.
- The ~ symbol in Python can be used to return the OPPOSITE of the selection that you specify in Python. It is equivalent to is not in. Write a query that selects all rows with sex NOT equal to ‘M’ or ‘F’ in the “surveys” data.

# Using masks to identify a specific condition

A mask can be useful to locate where a particular subset of values exist or don’t exist - for example, NaN, or “Not a Number” values. To understand masks, we also need to understand BOOLEAN objects in Python. Let's remind ourselves about boolean values real quick. You can comment out lines to make sure you're seeing the correct output:

In [33]:
# Set x to 5
x = 5

# What does the code below return?
x > 5

# How about this?
x == 5

True

How a boolean works is we *set* a criterion, x is equal to 5. Then, python *assesses* if new data fit the criteria. We can apply a boolean to a whole dataframe at once. For example, run this code and see what happens:

In [34]:
pd.isnull(surveys_df)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,True,True,True
14,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,True,True,True
19,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
35519,False,False,False,False,False,False,True,False,False
35520,False,False,False,False,False,False,False,False,False
35521,False,False,False,False,False,False,False,False,False
35522,False,False,False,False,False,False,False,False,False
35523,False,False,False,False,False,False,False,False,False
35524,False,False,False,False,False,False,False,False,False
35525,False,False,False,False,False,False,False,False,False
35526,False,False,False,False,False,False,False,False,False
35527,False,False,False,False,False,False,True,True,True
35528,False,False,False,False,False,False,False,False,False
35529,False,False,False,False,False,False,False,False,True
35530,False,False,False,False,False,False,False,False,True
35531,False,False,False,False,False,False,False,False,False
35532,False,False,False,False,False,False,False,False,False
35533,False,False,False,False,False,False,False,False,False
35534,False,False,False,False,False,False,False,False,False
35535,False,False,False,False,False,False,False,False,False
35536,False,False,False,False,False,False,False,False,False
35537,False,False,False,False,False,False,False,False,False
35538,False,False,False,False,False,False,False,False,False
35539,False,False,False,False,False,False,False,False,False
35540,False,False,False,False,False,False,False,False,False
35541,False,False,False,False,False,False,False,False,False
35542,False,False,False,False,False,False,False,False,False
35543,False,False,False,False,False,False,True,True,True
35544,False,False,False,False,False,False,True,True,True
35545,False,False,False,False,False,False,True,True,True
35546,False,False,False,False,False,False,False,False,False
35547,False,False,False,False,False,False,False,False,False
35548,False,False,False,False,False,True,True,True,True

Surfically, this may not be useful.

In [37]:
surveys_df[pd.isnull(surveys_df).any(axis=1)]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35187,35188,11,10,2002,10,NaN,NaN,NaN,NaN
35256,35257,12,7,2002,22,PB,M,26.0,NaN
35259,35260,12,7,2002,21,PB,F,24.0,NaN
35277,35278,12,7,2002,20,AH,NaN,NaN,NaN
35279,35280,12,7,2002,16,PB,M,28.0,NaN
35322,35323,12,8,2002,11,AH,NaN,NaN,NaN
35328,35329,12,8,2002,11,PP,M,NaN,16.0
35370,35371,12,8,2002,14,AH,NaN,NaN,NaN
35378,35379,12,8,2002,15,PB,F,26.0,NaN
35384,35385,12,8,2002,10,NaN,NaN,NaN,NaN
35387,35388,12,29,2002,1,DO,M,35.0,NaN
35403,35404,12,29,2002,2,NL,F,30.0,NaN
35448,35449,12,29,2002,20,OT,F,20.0,NaN
35452,35453,12,29,2002,20,PB,M,28.0,NaN
35457,35458,12,29,2002,20,AH,NaN,NaN,NaN
35477,35478,12,29,2002,24,AH,NaN,NaN,NaN
35485,35486,12,29,2002,16,DO,M,37.0,NaN
35495,35496,12,31,2002,4,PB,NaN,NaN,NaN
35510,35511,12,31,2002,11,DX,NaN,NaN,NaN
35511,35512,12,31,2002,11,US,NaN,NaN,NaN
35512,35513,12,31,2002,11,US,NaN,NaN,NaN
35514,35515,12,31,2002,11,SF,F,27.0,NaN
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

What did this do? Explain the code to a partner. We can also evaluate missing data on a column-by-column basis. This might be informative if you're deciding if you have the statistical power to answer a question. Based on the below, do you think we have sufficient samples in the weight column to do statistical analyses?

In [39]:
empty_weights = surveys_df[pd.isnull(surveys_df['weight'])]['weight']
print(empty_weights)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
35138   NaN
35168   NaN
35187   NaN
35256   NaN
35259   NaN
35277   NaN
35279   NaN
35322   NaN
35370   NaN
35378   NaN
35384   NaN
35387   NaN
35403   NaN
35448   NaN
35452   NaN
35457   NaN
35477   NaN
35485   NaN
35495   NaN
35510   NaN
35511   NaN
35512   NaN
35514   NaN
35527   NaN
35529   NaN
35530   NaN
35543   NaN
35544   NaN
35545   NaN
35548   NaN
Name: weight, Length: 3266, dtype: float64

# Working With the Data

Typically, we want each cell in a column to be the same data type. For, example, we probably don't want some weights to be integers and some to be floats - if that were the case, we might get unexpected behaviors when we call functions on them.

In [40]:
surveys_df['weight'] = surveys_df['weight'].astype('float64')
surveys_df['weight'].dtype

dtype('float64')

What happens next if we try to convert weight to an int?

In [41]:
surveys_df['weight'] = surveys_df['weight'].astype('int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

What happened in the last challenge activity? Notice that this throws a value error: `ValueError: Cannot convert NA to integer.` If we look at the weight column in the surveys data we notice that there are NaN (Not a Number) values. NaN values are undefined values that cannot be represented mathematically. Pandas, for example, will read an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable properties: if we were to average the weight column without replacing our NaNs, Python would know to skip over those cells.

In [42]:
surveys_df['weight'].mean()

42.672428212991356

Dealing with missing data values is always a challenge. It’s sometimes hard to know why values are missing - was it because of a data entry error? Or data that someone was unable to collect? Should the value be 0? We need to know how missing values are represented in the dataset in order to make good decisions. If we’re lucky, we have some metadata that will tell us more about how null values were handled.

For instance, in some disciplines, like Remote Sensing or Genomics, missing data values are often defined as -9999. Having a bunch of -9999 values in your data could really alter numeric calculations. Often in spreadsheets, cells are left empty where no data are available. Pandas will, by default, replace those missing values with NaN. However it is good practice to get in the habit of intentionally marking cells that have no data, with a no data value! That way there are no questions in the future when you (or someone else) explores your data.

Let’s explore the NaN values in our data a bit further. Using the tools we learned in lesson 02, we can figure out how many rows contain NaN values for weight. We can also create a new subset from our data that only contains rows with weight values > 0 (i.e., select meaningful weight values):

In [43]:
len(surveys_df[pd.isnull(surveys_df.weight)])
# How many rows have weight values?
len(surveys_df[surveys_df.weight> 0])

32283

We can replace all NaN values with zeroes using the .fillna() method (after making a copy of the data so we don’t lose our work):

In [44]:
df1 = surveys_df.copy()
# Fill all NaN values with 0
df1['weight'] = df1['weight'].fillna(0)

But what happens when we call mean() again?

In [45]:
df1['weight'].mean()

38.751976145601844

In [46]:
 df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())

What did we do in this example? We could also chose to create a subset of our data, only keeping rows that do not contain NaN values.

The point is to make conscious decisions about how to manage missing data. This is where we think about how our data will be used and how these values will impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We just need to be cautious about how the decisions that we make impact scientific results.

Count the number of missing values per column. Hint: The method .count() gives you the number of non-NA observations per column. Try looking to the .isnull() method.

# Writing Out Data to CSV

We’ve learned about using manipulating data to get desired outputs. But we’ve also discussed keeping data that has been manipulated separate from our raw data. Something we might be interested in doing is working with only the columns that have full data. First, let’s reload the data so we’re not mixing up all of our previous manipulations.

In [49]:
surveys_df = pd.read_csv("../data/surveys.csv")
df_na = surveys_df.dropna()

What do you think the above did? How will you check? 

We can now use the to_csv command to do export a DataFrame in CSV format. Note that the code below will by default save the data into the current working directory. We can save it to a different folder by adding the foldername and a slash before the filename: df.to_csv('foldername/out.csv'). We use ‘index=False’ so that pandas doesn’t include the index number for each line.

In [51]:
df_na.to_csv('../data_output/surveys_complete.csv', index=False)

Why do we use CSV? CSV files are what we call "flat files." All the information needed to interpret them is encoded in the text. Excel files and similar are called "binary files", which are translated into machine language. The nice thing about flat files is that they can be read by both human eyes and a machine. They are also insensitive to what software you are using to read them in. This is not necessarily true with Excel files, which may appear different by different platforms (Mac, PC) or different version numbers.